<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.polarity.jugo.polarity" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.polarity.jugo.polarity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <uses-permission android:name="android.permision.INTERNET" />
                <uses-permission android:name="android.permision.ACCESS_NETWORK_STATE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="8PmNmRoVcthG5ECqaqRD4fGmGb8VS2jtsEZ9gwc3" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="z9BYdrmQrBiR258go74idBaiNoLk2FpFmRq48P6d" />
    </application>
</manifest>
